.page__get-in-touch {
  padding-top: 10%;
  padding-bottom: 12.4%;

  & .get-in-touch__header-block {
    margin-bottom: 8.4%;
  }

  & .get-in-touch__items {
    margin: 0px -0.9375rem;
  }

  & .get-in-touch__item {
    flex: 0 1 33.333%;
  }
}

/* ITEM-GET-IN-TOUCH */

:is(.item-get-in-touch__emails, .item-get-in-touch) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:is(.item-get-in-touch__emails, .item-get-in-touch__icon, .item-get-in-touch__label) {
  &:not(:last-child) {
    margin-bottom: 0.3125rem;
  }
}

.item-get-in-touch {
  background-color: #fff;
  padding: 3.125rem 0.9375rem;

  & .item-get-in-touch__email {
    font-weight: 600;
    line-height: 150%;
    font-size: 1rem;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  & .item-get-in-touch__label {
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
  }

  & .item-get-in-touch__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    line-height: 142%;
    border-radius: 5px;
    min-height: 2.75rem;
    border: 1px solid #ff7b47;
    color: #ff7b47;
    padding: 0.3125rem 1.25rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
      border: 1px solid #ff7b47;
      background-color: #ff7b47;
    }
  }
}

.item-get-in-touch_active {
  background-color: #252b42;
  color: #fff;
  padding: 5rem 0.9375rem;

  & .item-get-in-touch__button {
    color: #fff;
    border: 1px solid #fff;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 992px) {
  .item-get-in-touch_active {
    padding: 50px 15px;
  }
}

@media (min-width: 992px) {
  .page__get-in-touch {
    & .get-in-touch__items {
      display: flex;
      align-items: center;
      margin: 0px;
    }
  }
}
